PORT=3200
SUPERUSERNAME=admin
SUPERUSERPASS=admin
DATABASE_URL=postgresql://postgres:example@db:5432/postgres
DATABASE_APP_URL=postgresql://postgres:example@db:5432/postgres
API_HOST=http://localhost:3200
